* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fafafa;
  font-family: sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  background: #20252C;
  padding: 0 30px;
}

input {
  outline: none;
}

button {
  border: 0;
  background: transparent;
}

.nav-button > div {
  transition: all 0.2s;
}

.nav-button:hover div:first-child {
  transform: rotate(45deg);
}

.nav-button:hover div:nth-child(2) {
  opacity: 0;
}

.nav-button:hover div:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-button-mirror div:first-child {
  transform: rotate(45deg);
}

.nav-button-mirror div:nth-child(2) {
  opacity: 0;
}

.nav-button-mirror div:nth-child(3) {
  transform: rotate(-45deg);
}

.close-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 3px solid #b2b2b2;
  display: grid;
  place-items: center;
  position: relative;
  transition: border-color 0.1s;
}

.close-icon div {
  height: 70%;
  width: 3px;
  background: #b2b2b2;
  position: absolute;
  border-radius: 2px;
  transition: background 0.2s;
}

.close-icon:hover {
  border-color: #fafafa;
}

.close-icon:hover div {
  background: #fafafa;
}

.close-icon div:first-child {
  transform: rotate(45deg);
}

.close-icon div:nth-child(2) {
  transform: rotate(-45deg);
}

.search-bar {
  transition: border 0.2s;
}

.movies-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 40px;
  margin-top: 20px;
}

.movie-card {
  transition: border-color 0.2s;
}

@media (width < 1070px) {
  .movies-section {
    justify-content: space-evenly;
  }
}

@media (width < 400px) {

  .movies-section {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .movie-card {
    width: 90% !important;
  }

  .movie-card_footer {
    height: auto;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
  }
  
  .movie-card_footer > h6 {
    text-align: center;
  }
}

@media (width < 1000px) {
  .cage-movie-info {
    height: auto;
    min-height: 100%;
    padding: 40px 0;
  }

  .subcage-movie-info {
    flex-direction: column;
    height: auto;
  }

  .subcage-movie-info > header {
    width: 100%;
    height: 200px;
  }

  .subcage-movie-info > article {
    height: auto;
    gap: 60px;
  }

  .date-info {
    gap: 20px;
    flex-wrap: wrap;
  }

  .release-date {
    align-self: flex-start;
  }

  .vote-average {
    align-self: flex-start;
  }

  .poster {
    border-radius: 12px 12px 0px 0px;
  }

  .close-icon {
    border-color: #fff;
  }

  .close-icon div {
    background: #fff;
  }
}

#root {
  height: 100vh;
  overflow: hidden;
}

.principal-aside {
  scrollbar-width: thin;
  transform: translateX(-250px);
  transition: transform 0.2s;
}

.genre {
  transition: background 0.2s;
}